* {
    font-family: "Stylish", sans-serif;
}

.header {
    height: 300px;
    border-bottom: 2px solid gray;
    margin-bottom: 100px;
}

.footer {
    height: 150px;
    border-top: 2px solid gray;
    text-align: center;
    margin-top: 100px;
    padding-top: 65px;
}

.card-columns {
    background-color: white;
}

.wrap {
    width: 900px;
    margin: auto;
}

.comment {
    color: blue;
    font-weight: bold;
}

.card {
    margin-top: 15px;
    border: 5px solid gray;
}